.top-navigation {
    background: #000;
    color: #fff;
    padding: 15px 0;
}

.profile img {
    width: inherit;
}

.b-radius-top {
    border-radius: 5px 5px 0 0px;
}

.b-radius-bottom {
    border-radius: 0px 0px 5px 5px;
}

.icon {
    width: 12%;
}

.dropdown-toggle {
    padding: 0px;
}

.dropdown-toggle::after {
    content: none;
}