.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-overlay {
    margin-left: 40%;
    margin-top: 10%;
}

.top-navigation {
    background: #000;
    color: #fff;
    padding: 15px 0;
}

.profile img {
    width: inherit;
}

.b-radius-top {
    border-radius: 5px 5px 0 0px;
}

.b-radius-bottom {
    border-radius: 0px 0px 5px 5px;
}

.date-filter input {
    line-height: 0.5;
    /* margin-top: 3%; */
}

.icon {
    width: 12%;
}

.dropdown-toggle {
    padding: 0px;
}

.dropdown-toggle::after {
    content: none;
}

.c-pointer {
    cursor: pointer;
}

.c-not-allowed {
    cursor: not-allowed;
}